.editor {
  position: relative;
}

.editor-wrapper.-movable {
  user-select: none;
}

.portal {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--width) * var(--ch));
    transform: translate(
      calc(var(--left) * var(--ch)),
      calc(var(--top) * var(--lh))
    );
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 5px 5px rgba(0, 100, 255, 0.1);
    background: var(--background-color);
  }
  &.-movable {
    top: calc(-1 * var(--lh) / 4);
    left: calc(-1 * var(--lh) / 4);
    border: calc(var(--lh) / 4) solid var(--background-color);
    box-shadow: 0 0 0 calc(var(--lh) / 4) var(--primary-color);
    box-sizing: content-box;
    cursor: grab;
  }
}

.buffer {
  &:focus {
    outline: none;
  }
  &.-destination,
  &.-opening,
  &.-ending {
    & {
      background: var(--primary-color-dark);
      color: rgba(255, 255, 255, 0.5);
      border-radius: var(--small-radius);
      transition: 0.2s ease-out;
    }

    &:hover {
      background: var(--secondary-color);
      color: white;
    }
  }
  &.-destination {
    cursor: grab;
  }
}

.portal-instance {
  & {
    --accent-color: var(--primary-color);
    box-shadow: 0 0 0 calc(var(--lh) / 8) var(--accent-color),
      2px 5px 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: var(--small-radius);
  }

  &.-targetted {
    --accent-color: var(--secondary-color);
    pointer-events: none;
  }

  & > .dropzone {
    background: var(--primary-color);
    opacity: 0.5;
    width: calc(4 * var(--ch));
    height: 100%;
    position: absolute;
    &.-left {
      left: 0;
    }
    &.-right {
      right: 0;
    }

    &:hover {
      background: var(--secondary-color);
      opacity: 1;
    }
  }

  &:not(.-targettable) .dropzone {
    display: none;
  }
}

.editor-line {
  & {
    display: flex;
    flex-direction: row;
  }

  & > * {
    flex: 1;
  }
}
