.editor {
  position: relative;
}

.editor-wrapper.-movable {
  user-select: none;
}

.portal {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--width) * var(--ch));
    transform: translate(
      calc(var(--left) * var(--ch)),
      calc(var(--top) * var(--lh))
    );
    transition: 0.2s ease-out;
    box-shadow: 2px 2px 5px 5px rgba(0, 100, 255, 0.1);
    background: var(--background-color);
  }
  &.-movable {
    top: calc(-1 * var(--lh) / 4);
    left: calc(-1 * var(--lh) / 4);
    border: calc(var(--lh) / 4) solid var(--background-color);
    box-shadow: 0 0 0 calc(var(--lh) / 4) var(--primary-color);
    box-sizing: content-box;
    cursor: grab;
  }
}

.buffer {
  &:focus {
    outline: none;
  }
  &.-destination,
  &.-opening,
  &.-ending {
    & {
      background: var(--primary-color-dark);
      color: rgba(255, 255, 255, 0.5);
      border-radius: var(--small-radius);
      transition: 0.2s ease-out;
    }

    &.-movable:hover {
      background: var(--secondary-color);
      color: white;
    }
  }
}

.portal-instance {
  & {
    --accent-color: var(--primary-color);
    box-shadow: 0 0 0 calc(var(--lh) / 8) var(--accent-color),
      2px 5px 10px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: var(--small-radius);
    transition: 0.2s linear;
    min-width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--width) * var(--ch));
    transform: translate(var(--left), calc(var(--top) * var(--lh)));
    transition: 0.2s ease-out;
  }

  &.-targetted {
    --accent-color: var(--secondary-color);
    pointer-events: none;
  }

  & > .dropzone {
    background: var(--primary-color);
    opacity: 0.5;
    width: calc(4 * var(--ch));
    height: 100%;
    position: absolute;
    z-index: 10;

    &.-left {
      left: 0;
    }
    &.-right {
      right: 0;
    }

    &:hover {
      background: var(--secondary-color);
      opacity: 0.9;
    }
  }

  &:not(.-targettable) .dropzone {
    display: none;
  }
}

.editor-line {
  & {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  & > * {
    flex: 1;
  }
}

.toggle-button {
  & {
    position: fixed;
    z-index: 10;
    top: calc(0.5 * var(--lh));
    right: calc(0.5 * var(--lh));
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  & > input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  & > .background {
    background: rgba(255, 255, 255, 0.75);
    border-radius: calc(1 * var(--lh));
    width: calc(2.5 * var(--lh));
    height: calc(1 * var(--lh));
  }

  & > .button {
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.5);
    width: calc(1.5 * var(--lh));
    height: calc(1.5 * var(--lh));
    margin-left: calc(-1.5 * var(--lh));
    transition: transform ease-out 0.2s;
  }

  & > input:checked ~ .button {
    transform: translateX(calc(-1 * var(--lh)));
  }
}
