*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  --primary-color: rgba(0, 100, 200, 1);
  --primary-color-dark: rgba(0, 50, 100, 0.2);
  --background-color: #333;
  --lh: 25px;
  --ch: 12px;
  height: auto;
  background: var(--background-color);
  color: #eee;
  font-size: 20px;
  padding: 25px;
  line-height: var(--lh);
}

::selection {
  background: var(--primary-color);
}

textarea {
  width: 100%;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  height: auto;
  background: inherit;
  border: 0;
  height: calc(var(--lh) * var(--height));
  overflow: hidden;
}

pre {
  margin: 0;
}

.editor {
  position: relative;
}

.buffer {
    height: calc(var(--height) * var(--lh));
    max-height: calc(var(--height) * var(--lh));
    min-height: calc(var(--height) * var(--lh));
    width: 100%;
    margin-left: calc((var(--left)) * var(--ch));
    max-width: calc((var(--width) + 20) * var(--ch));
    overflow: hidden;
    display: block;
}

.portal {
  & {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--width) * var(--ch));
    transform: translate(
      calc(var(--left) * var(--ch)),
      calc(var(--top) * var(--lh))
    );
    box-shadow: 2px 2px 5px 5px rgba(0, 100, 255, 0.1);
    background: var(--background-color);
  }
  &.-movable {
    top: calc(-1 * var(--lh) / 4);
    left: calc(-1 * var(--lh) / 4);
    border: calc(var(--lh) / 4) solid var(--background-color);
    box-shadow: 0 0 0 calc(var(--lh) / 4) var(--primary-color);
    box-sizing: content-box;
    cursor: grab;
  }
}

.opening, .ending {
  background: var(--primary-color-dark);
      color: rgba(255, 255, 255, 0.5);

}

.portal-instance {
  & {
    box-shadow: 0 0 0 calc(var(--lh) / 8) var(--primary-color), 2px 5px 10px 5px rgba(0, 0, 0, .2);
  }
  & > .destination {
    background: var(--primary-color-dark);
    color: rgba(255, 255, 255, 0.5);
    cursor: grab;
  }
}
